.notice-text {
  font-size: 14px;
  color: darkgrey;
  font-weight: 400;
}

.card-highlight {
  background-color: #ffa5002b;
}

.card-no-highlight {
  background-color: white;
}

.text-subj {
  color: orange;
}

.text-prop {
  color: #2ca04d;
}

.text-obj {
  color: #29aeff;
}

.fact-valid {
  color: green;
}

.fact-invalid {
  color: red;
}
