<div fxFlexFill fxLayout="column">
  <span fxFlexAlign="center"><h3>Operating Instructions</h3></span>
  <span>Welcome to <a href="https://github.com/dice-group/COPAAL" target="_blank">COPAAL</a> - A tool for validating facts over Knowledge Graphs</span>
<ul>
  <li>To validate a triple, simply enter the subject, object and the property in the respective fields (currently limited to DBpedia resources)</li>
  <li>Check the "Verbalize" option if you wish to view the fact explanations in natural language text</li>
  <li>Do not have a triple in mind? No problem, you can also select from examples to auto-populate the input triple</li>
</ul>
<div fxFlexAlign="center">
  <button mat-button (click)="onOkClick()">Ok</button>
</div>

</div>
